.todo-item {
	background-color: #fff2cc;
	margin: 0 50px 50px 50px;
	border: 1px solid black;
	width: 300px;
	height: 50px;
}
.todo-item-text{
	text-align: center;
	
}
.line-through{
	text-decoration: line-through;
}
.todo-item-close{
	position: relative;
	top: -25px;
	left: -30px;

}
.todo-item-container{
	display: flex;
	align-items: center;
	height: 100px;
}